@page
@model MyStore.Pages.Clients.EditModel
@{
}

<br>
<h2>Edit Client</h2>
<link href="~/css/styles.css" rel="stylesheet" />
@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}

<form method="post" class="row g-3">
    <input type="hidden" name="id" value="@Model.clientinfo.id" />
    <div class="col-md-6">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name="name" value="@Model.clientinfo.name" />
    </div>

    <div class="col-md-6">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" name="email" value="@Model.clientinfo.email" />
    </div>

    <div class="col-md-6">
        <label class="form-label">Phone</label>
        <input type="text" class="form-control" name="phone" value="@Model.clientinfo.phone" />
    </div>

    <div class="col-md-6">
        <label class="form-label">Address</label>
        <input type="text" class="form-control" name="address" value="@Model.clientinfo.address" />
    </div>

   

    <div class="col-md-6">
        <label class="form-label">Client_Type</label>
        <select class="form-control" name="client_type" id="clientTypeSelect">
            <option value="Indian">Indian</option>
            <option value="International">International</option>
        </select>
    </div>

    <script>
        $(document).ready(function () {
            var clientType = '@Model.clientinfo.client_Type';
            $("#clientTypeSelect").val(clientType);
        });
    </script>

    @if (Model.successMessage.Length > 0)
    {
        <div class="col-md-9">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.successMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        </div>
    }

    <div class="col-md-3 d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    <div class="col-md-3 d-grid">
        <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
    </div>
</form>